<form method="POST" action="signed">
<div>
	<h1>Войти в систему</h1>
	<input type="text" class="ilog" name="number" autocerrect="off" autofocus="autofocus" autocapitalize="off" placeholder="Введите номер телефона">
	<button class = "log ">Отправить</button>
</div>
</form>