<header>
			<img src="logo.png" class="logo">
		<nav>
			<a href="/mainpage.html">Главная</a>
			<a href="/cos">Косметика</a>
			<a href="/clothes">Одежда</a>
			<a href="mainpage.html#about">О нас</a>
		</nav>
			<form method="POST" action="/search">
				<input type="text" placeholder="Search" name="name">
				<button type="submit" class="btn"><i class="fa fa-search"></i></button>
		</form>
			<a href="/admin">
			<img src="korzina.svg" width="40" height="40" ></a>
	</header>
	{{#each element}}
	<div class="element">
		<img src="{{img}}">
		<div class="description">
			<p>Цена: {{price}}KZT</p>
			<p>Наименование: {{type}}</p>
			<p>Здесь должно быть красивое описание</p>	
		</div>
	</div>
		<div class="choose">
		<button>В корзину</button>
		<div>
			<i id="icon"class="fas fa-heart" style="font-size:36px;color:white;"></i>
			<a href="">В избранное</a>
		</div>
	</div>
	{{/each}}
	<footer>
		<div class="medias">
      <div class="media">
        <img src="ins.png" width="45" height="40">
        <p>@true.beauty</p>
      </div>
      <div class="media">
        <img src="face.png" width="42" height="40">
        <p>TRUE BEAUTY</p>
      </div>
      <div class="media">
        <img src="gmail.png" width="40" height="32">
        <p>true.beauty@gmail.com</p>
      </div>
    </div>
    <div class="a">
      <p>Адрес: г. Атырау</p>
      <p>Контакты: 8(7122) XX-XX-XX</p>
    </div>
	</footer>