<form method="POST" action="signed">
<div>
	<h1>Войти в систему</h1>
	<input type="text" name="number" autocerrect="off" autofocus="autofocus" autocapitalize="off" placeholder="Введите номер телефона">
	<button>Отправить</button>
</div>
</form>